<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="language">
                <div class="language__select">
                    <div class="language__select__name">Ru</div>
                    <img src="../assets/images/Ellipse 26.png" alt="Русский" class="language__select__flag">
                </div>
                <div class="language__menu">
                    <div class="language__menu__line"></div>
                    <div class="language__menu__line"></div>
                    <div class="language__menu__line"></div>
                </div>
            </div>

            <div class="logo">
                <h1 class="logo__title">OGO.market</h1>
                <span class="logo__subtitle">Покупайте выгодно!</span>
            </div>

            <div class="search">
                <input type="text" class="search__input" placeholder="Ваша страна">
                <img src="../assets/images/Vector.svg" alt="" class="search__loupe">
            </div>

            <nav>
                <ul class="menu">
                    <li class="menu__item">Главная</li>
                    <li class="menu__item">Каталог</li>
                    <li class="menu__item">Компании</li>
                    <li class="menu__item">Контакты</li>
                </ul>
            </nav>

            <div class="buttons">
                <button class="buttons-btn">Адресс</button>
                <button class="buttons-btn">Корзина</button>
                <button class="buttons-btn">Войти</button>
            </div>
        </div>
    </div>
</header>
